@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background: linear-gradient(
    135deg,
    rgb(34, 39, 68) 0%,
    rgb(85, 85, 85) 100%
  );
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.intro{
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  padding-top: 3rem;
  text-align: center;
}

.intro h1{
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;

}

.intro h2{
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 20px;
  font-weight: 100;
}

.showcase {
  position: relative;
  width: 65%;
  height: 70%;
  margin: 1.5em auto;
  overflow: hidden;
  background: transparent;
  transition: all .5s ease;
  text-align: left;

}

.showcase p{
  height: fit-content;
}

.desc {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  color:rgb(255, 255, 255);
  padding: 10px 10px;
}

.desc img {
  float: right;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  margin-left: 50px;
  margin-bottom: 30px;
  opacity: 1;
  position: relative;
  transition: all .5s ease-in-out;

}

.desc img:hover {
  width: 600px;
  transition: all .5s ease-in-out;

}

.showcase:hover {
  height: 75%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all .5s ease;
}

