@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background: linear-gradient(
    135deg,
    rgb(34, 39, 68) 0%,
    rgb(85, 85, 85) 100%
  );
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.intro{
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  padding-top: 3rem;
  text-align: center;
}

.intro h1{
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;

}

.intro h2{
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 20px;
  font-weight: 100;
}

.topnav {
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.3);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.logo {
  float:left;
  padding: -5px -5px;
}

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  transition: background 500ms;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.showcase {
  position: relative;
  width: 65%;
  height: 60%;
  margin: 1.5em auto;
  overflow: hidden;
  background: transparent;
  transition: all .5s ease;

}

.thumbnail {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 60%;
  z-index: 1;
  background-position: 50% 50%;
  background-size: cover;
  transition: right 250ms ease, left 250ms ease;
}

.first-project {
  background-image: url("images/steer.jpg");
}

.snake {
  background-image: url("images/snake.jpg");
}

.snake:hover {
  background-image: url("images/snake.gif");
}

.camel {
  background-image: url("images/ocaml.png");
}

.camel:hover {
  background-image: url("images/ocaml.gif");
}

.path {
  background-image: url("images/pathfinder.png");
}

.path:hover {
  background-image: url("images/pathfinder.gif");
}

.thumbnail__overlay {
  position: relative;
  padding-top: 8em;
  height: 100%;
  text-align: center;
  color:rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 250ms ease;
}

.desc {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 2%;
  z-index: 2;
  color:rgb(255, 255, 255);
  text-align: left;
  transition: background 250ms ease, color 250ms, width 250ms ease, padding 250ms ease;
}
.desc:after {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  content: "";
  transition: border-color 250ms;
}
.showcase:hover {
  width:70%;
  height:65%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all .5s ease;
}
.showcase:hover .thumbnail {
  right: 10%;
}
.showcase:hover .thumbnail__overlay {
  opacity: 1;
}
.showcase:hover .desc:after {
  border-color: transparent #202426 transparent transparent;
}

.btn {
  padding: 1em 2em;
  border: 0.15em solid #fff;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: background 250ms;
}
.btn:hover {
  box-shadow: inset 0 0 0 5px #ffffff;
}
