<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/projects.css">
</head>

<body>

  <div class="showcase">
    <div class="thumbnail thumbnail--awesome">
      <div class="thumbnail__overlay">
        <a class="btn" href="#0">Visit</a>
      </div>
    </div>
    <div class="desc">
      <p>First Author Paper</p>
      <h2>Pentagonal prism spherical hohlraums for OMEGA</h2>
      <p>My first, first-author paper.
      </p>
    </div>
  </div>

</body>

</html>